.img_slide{

    box-shadow: 3px 3px 3px 3px #e4e4e4;
    padding: 2px ;
    border-radius: 5px;

}
.postslider{

    box-shadow: 3px 3px 3px 3px #e4e4e4;
    padding: 2px ;
    border-radius: 5px;
    float: left;

}
.postslider img{
    height: 340px;
}